{% extends 'base.html.twig' %}

{% block title %}Person Lik Product List{% endblock %}

{% block body %}
    {% block main %}
        <div class="row">
            <div class="col-md-6 col-xs-6">
                <h2 class="main-heading">
                    Product Persons
                </h2>
            </div>
        </div>
        {% include 'personLikeProduct/form.html.twig' with {'heading' : 'Search:'} %}
        {% include 'table.html.twig' with {'table' : table} %}
    {% endblock %}
    {% block sidebar %}
    {% endblock %}
{% endblock %}
