{% extends 'base.html.twig' %}

{% block title %}Person Add{% endblock %}

{% block body %}
<div class="panel col-md-12 col-xs-12">
    <h1>Person Add</h1>

    {% include 'person/form.html.twig' %}
</div>
{% endblock %}
